# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some directories
!.gitignore
!README.md
!autostart/
!bspwm/
!compton/
!neofetch/
!polybar/
!ranger/
!sxhkd/
!wal/

# Whitelist some files
!.xresources_symlink
